{% form_theme form 'form_table_layout.html.twig' %}
{% extends 'base.html.twig' %}


{% block body %}
    <a href="{{ path('adminpage') }}">Natrag</a>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}