{% extends 'base.html.twig' %}

{% block body %}
    <h1>Article list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                {#<th>Content</th>
               <th>Source</th>
                <th>Datepublished</th>
                <th>Datescraped</th>
                <th>Medialink</th>
                <th>Link</th>#}
                <th>Visible</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td><a href="{{ path('admin_article_show', { 'id': article.id }) }}">{{ article.id }}</a></td>
                <td>{{ article.title }}</td>
                {#<td>{{ article.content }}</td>
                <td>{{ article.source }}</td>
                <td>{% if article.datePublished %}{{ article.datePublished|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if article.dateScraped %}{{ article.dateScraped|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ article.mediaLink }}</td>
                <td>{{ article.link }}</td>#}
                <td>{% if article.visible %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_article_show', { 'id': article.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_article_edit', { 'id': article.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_article_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
