{% extends 'base.html.twig' %}

{% block body %}
    <h1>Article</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ article.content }}</td>
            </tr>
            <tr>
                <th>Source</th>
                <td>{{ article.source }}</td>
            </tr>
            <tr>
                <th>Datescraped</th>
                <td>{% if article.dateScraped %}{{ article.dateScraped|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Medialink</th>
                <td>{{ article.mediaLink }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ article.link }}</td>
            </tr>
            <tr>
                <th>Visible</th>
                <td>{% if article.visible %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_article_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_article_edit', { 'id': article.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
